<div class="container">
  
 <div class="mt-5">
    
<!-- Currency -->
  <p class="font-weight-bold">Currency</p>
  <div class="row">
    <div class="col-6">
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-secondary">Formato moneda soles</h5>
            <h6 class="card-text">Costo de Bitcoin {{ 147400.32 | currency: 'S/.' }}</h6>
          </div>
        </div>
    </div>

    <div class="col-6">
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-secondary">Formato moneda dólares</h5>
            <h6 class="card-text">Costo de Bitcoin {{ 40610.50 | currency: 'USD' }}</h6>
          </div>
        </div>
    </div>
  </div>
  <div class="dropdown-divider"></div>
  <br>
  
<!-- Json-->

  <p class="font-weight-bold">JSON</p>
  <div class="row">
    <div class="col-6">
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-secondary">Datos en Json Simple</h5>
            <h6 class="card-text">Json:  {{ datossimple | json }}</h6>
          </div>
        </div>
    </div>

    <div class="col-6">
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-secondary">Nombres e información de estudio</h5>
            <h6 class="card-text">Json:   {{ datosestudios | json }}</h6>
          </div>
        </div>
    </div>
  </div>
  <div class="dropdown-divider"></div>
  <br>

      
  <!-- formato fecha-->
  
  <p class="font-weight-bold">Date</p>
  <div class="row">
    <div class="col-6">
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-secondary">Fecha de nacimiento forma 1:</h5>
            <h6 class="card-text">{{ nacimiento | date }}</h6>
          </div>
        </div>
    </div>

    <div class="col-6">
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-secondary">Fecha de nacimiento forma 2:</h5>
            <h6 class="card-text">{{ nacimiento | date: 'shortDate' }}</h6>
          </div>
        </div>
    </div>
  </div>
  <div class="dropdown-divider"></div>
  <br>
        
  <!-- formato numeros decimal-->
  <p class="font-weight-bold">Number decimal "33.65765765"</p>
  <div class="row">
    <div class="col-6">
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-secondary">Número redondeado:</h5>
            <h6 class="card-text">{{ valordecimal | number: '1.0-0' }}</h6>
          </div>
        </div>
    </div>

    <div class="col-6">
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-secondary">Número con tres decimales:</h5>
            <h6 class="card-text">{{ valordecimal | number: '1.1-3' }}</h6>
          </div>
        </div>
    </div>
  </div>
  <div class="dropdown-divider"></div>
  <br>
  <!-- formato numeros porcentaje-->
  <p class="font-weight-bold">Number %</p>
  <div class="row">
    <div class="col-6">
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-secondary">Formato porcentaje:</h5>
            <h6 class="card-text">{{ "0.9" | percent }}</h6>
          </div>
        </div>
    </div>

    <div class="col-6">
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-secondary">Formato agrega tres ceros a derecha e izquierda:</h5>
            <h6 class="card-text">{{ "0.9" | percent: '5.3-5' }}</h6>
          </div>
        </div>
    </div>
  </div>
  <div class="dropdown-divider"></div>
  <br>
  <!-- formato letras lowercase-->
  <p class="font-weight-bold">Text - lowercase</p>
  <div class="row">
    <div class="col-6">
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-secondary">Texto a minúsculas:</h5>
            <h6 class="card-text">{{ texto | lowercase }}</h6>
          </div>
        </div>
    </div>

    <div class="col-6">
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-secondary">Texto a minúsculas</h5>
            <h6 class="card-text">{{ "Hola MUNDO" | lowercase }}</h6>
          </div>
        </div>
    </div>
  </div>
  <div class="dropdown-divider"></div>
  <br>
  <!-- formato letras uppercase-->
  <p class="font-weight-bold">Text - uppercase</p>
  <div class="row">
    <div class="col-6">
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-secondary">Texto a mayúsculas:</h5>
            <h6 class="card-text">{{ texto | uppercase }}</h6>
          </div>
        </div>
    </div>

    <div class="col-6">
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-secondary">Texto a mayúsculas</h5>
            <h6 class="card-text">{{ "Hola MUNDO" | uppercase }}</h6>
          </div>
        </div>
    </div>
  </div>
  <div class="dropdown-divider"></div>
  <br>
  <!-- formato letras titlecase-->
  <p class="font-weight-bold">Text - titlecase</p>
  <div class="row">
    <div class="col-6">
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-secondary">Texto a tipo título:</h5>
            <h6 class="card-text">{{ texto | titlecase }}</h6>
          </div>
        </div>
    </div>

    <div class="col-6">
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-secondary">Texto a tipo título:</h5>
            <h6 class="card-text">{{ "Hola MUNDO" | titlecase }}</h6>
          </div>
        </div>
    </div>
  </div>
  <div class="dropdown-divider"></div>
  <br>
  <!-- slice-->
  <p class="font-weight-bold">Slice "TECSUP" </p>
  <div class="row">
    <div class="col-6">
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-secondary">Elimina las tres primeras letras:</h5>
            <h6 class="card-text">{{ textecsup |slice:3 }}</h6>
          </div>
        </div>
    </div>

    <div class="col-6">
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-secondary">Elimina las tres últimas letras:</h5>
            <h6 class="card-text">{{ textecsup |slice:0:3 }}</h6>
          </div>
        </div>
    </div>
  </div>
  <div class="dropdown-divider"></div>
  <br>
  <!-- async-->
  <p class="font-weight-bold">Async </p>
  <div class="row">
    <div class="col-6">
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-secondary">También muestra el valor de un JSON:</h5>
            <h6 class="card-text">{{ datosestudios | json }}</h6>
          </div>
        </div>
    </div>

    <div class="col-6">
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-secondary">Muestra información proveniente de código basado en promises :</h5>
            <h6 class="card-text">{{ promiseValor | async }}</h6>
          </div>
        </div>
    </div>
  </div>
  <div class="dropdown-divider"></div>
  <br>

  <!-- personalizado-->
  <p class="font-weight-bold">Personalizado </p>
  <div class="row">
    <div class="col-6">
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-secondary">Pipe para ocultar contraseña</h5>
            <button class="btn btn-success btn-sm" (click)="enable = !enable">
              <p *ngIf="enable" class="mb-0">Ver contraseña</p>
              <p *ngIf="!enable" class="mb-0">Ocultar contraseña</p>
            </button>
            <br>
            <h6 class="card-text">Contraseña : {{ contrasena | pipelab14:enable }} </h6>
          </div>
        </div>
    </div>

    <div class="col-6">
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-secondary">Convertir 100 Soles a Dolares:</h5>
            <h6 class="card-text">Precio: {{ 100 | soladolar:0.28 |  currency: 'USD'}}</h6>
          </div>
        </div>
    </div>
  </div>
  <div class="dropdown-divider"></div>
  <br>

 </div>


</div>



<h2>{{title}}</h2>
<p>
  Nuevo Heroe:

  <input type="text" #box
  (keyup.enter)="addHero(box.value); box.value=''"
  placeholder="Nombre de heroe">

  <input type="checkbox" id="can-fly" [(ngModel)]="canFly">

  Puede Volar

</p>
<p>
  <button (click)="reset()">Reset</button>
</p>

<h4>Heroes que vuelan (filtrados)</h4>
<div id="flyers">
  <div *ngFor="let hero of (heroes | flyingHeroes)" >{{hero.name}}</div>
</div>

<h4>Todos los heroes (sin filtro)</h4>
<div id="all">
  <div *ngFor="let hero of heroes" >{{hero.name}}</div>
</div>